@charset "utf-8";
/* CSS Document */
div, h1{
	text-align: center;
}
@media only screen and (max-width: 768px) { 
	div > input, div > a{
		display: block;
		margin: auto;
	}
	h1{
		color: pink;
	}
}
@media only screen and (min-width: 1366px) {
	h1{
		color: green;
	}
}
